////////////////////////////////////////////////////////////////////////////////////////////////
// Bring in vendors
////////////////////////////////////////////////////////////////////////////////////////////////
@import "vendor/fontawesome";
@import "vendor/bootstrap";

////////////////////////////////////////////////////////////////////////////////////////////////
// Bring in custom styles
////////////////////////////////////////////////////////////////////////////////////////////////
@import "abstract/mixins";
@import "base/base";
@import "components/buttons";
@import "components/close";
@import "components/checkbox-img-label";
@import "components/dropdown";
@import "components/forms";
@import "components/grid";
@import "components/input-groups";
@import "components/indicator";
@import "components/modal";
@import "components/tile";
@import "components/pagina";
@import "components/type";
@import "components/tables";
@import "components/section-header";
@import "components/steps";
@import "layout/content";
@import "layout/nav";
@import "layout/backendportal";

////////////////////////////////////////////////////////////////////////////////////////////////
// Generic styles
////////////////////////////////////////////////////////////////////////////////////////////////
html {
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// remove fixed background via overflow
// remove inserted padding right when open is open
body.modal-open {
  overflow: auto;
  padding-right: 0 !important;
}

// set font-size of font awesome icons
.fa {
  font-size: 14px;
}

// fixes missing font-family on span's
span {
  font-family: $font-family-sans-serif;
}

// set ease-in-out animation
a {
  transition: $hover-animation;
}

// Set min-width of content to 768px
.container {
  min-width: 768px;
}

// set cursor to disabled state
.disabled {
  &:hover {
    cursor: not-allowed;
  }
}

// height 100% for flex boxes for equal height
.full-height {
  height: 100%;
}

.no-spacing-md {
  @include media-breakpoint-down(md) {
    padding: 0 !important;
    margin: 0 0 0 0 !important;
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////
// Debug
////////////////////////////////////////////////////////////////////////////////////////////////
// main.container,
// .mainnav-subnav .container  {
//   background: red !important;
// }

h4, h5 {
  color: #affe22 !important;
}
