////////////////////////////////////////////////////////////////////////////////////////////////
// General
////////////////////////////////////////////////////////////////////////////////////////////////


// padding-y: 24px for nav, main, mobileNav-toggler
@include media-breakpoint-down(md) {
  .mainnav > .container,
  main.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

// first col with checkbox set to fix width
main.returns  .table-area > table tbody tr th:first-child,
main.carrier-management  .table-area > table tbody tr th:first-child{
  width: 40px;
  padding-right: 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////
// Returns
////////////////////////////////////////////////////////////////////////////////////////////////
.delivery-invoice-orderData-items {
  .table-area.delivery {
    margin-bottom: 1rem;
  }
  .table-area.items {
    margin-top: 1rem;
  }
  .columns-container {
    .column:first-child {
      padding-right: 1rem;
      p {
        font-weight: $font-weight-medium;
        color: $gray-lighter;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////
// Returns > Create Return Order
////////////////////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////////////////////
// Carrier Management > Create Carrier Contract
////////////////////////////////////////////////////////////////////////////////////////////////
 main.create-carrier-contract {
   .tile {
     h2 {
       margin-bottom: 0;
     }
     &.steps {
      @include media-breakpoint-down(md) {
        padding: 1rem;
        h2 {
          display: none;
        }
      }
      .steps-container {

        .step {
         > div {
           @include media-breakpoint-down(md) {
             font-size: 0.875rem;
           }
         }
         .step-label {
           padding-top: 10px;
         }
        }
      }
     }
     &.form {
       section {
         h2 {
           margin-bottom: 21px;
         }
       }
     }
   }
   section {
     .checkbox-img-label {
      //  margin-bottom: 1rem;
      //  @include media-breakpoint-down(md) {
      //    margin-bottom: 0.5rem;
      //  }
     }
     &.name-carrier {
       padding-top: 0;
     }
     &.carrier-api {
       margin-top: -3px;
     }
     &.login-returns-options {
       margin-top: 18px;
       margin-bottom: 1rem;
     }
     .col-12 {
       .checkbox-img-label {
         @include media-breakpoint-down(md) {
          //  margin-bottom: 0.5rem;
         }
       }
     }
   }
 }
