main {
  padding-top: 136px;
  margin-top: $outer-spacing;
  margin-bottom: $outer-spacing;
  @include media-breakpoint-down(md) {
    // height of nav in collapsed state
    padding-top: 63px;
  }
  .action-area {
    // margin-bottom: 1rem;
    .input-group {
      // @include media-breakpoint-down(md){
      //   margin-top: 1rem;
      // }
    }
    [class*="col"]:first-child {
      button:first-child {
        margin-right: 0.5rem;
      }
    }
    // button {
    //   float: left;
    // }

    .search {
      float: right;
      // width: calc(100% - 2rem);
      width: 100%;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }
}
