.mainnav-subnav {
  position: fixed;
  top: 0;
  z-index: 30;
  transition: top 0.2s ease-in-out;
  width: 100%;
  @include bs-std;
  @include media-breakpoint-down(md) {
    @include bs-std-dark;
  }
  .nav-item {
    &.active {
      .nav-link {
        font-weight: $headings-font-weight;
      }
    }
    .nav-link {
      font-weight: $font-weight-normal;
      text-transform: uppercase;
    }
  }
  // mainnav
  .mainnav {
    &.navbar {
      padding: 0.9375rem 0 1rem 0;
    }
    .navbar-brand {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    @include primary-gradient;
    @include media-breakpoint-down(md) {
      .navbar-brand {
        height: 32px;
        img {
          height: 32px;
          width: 119px;
        }
      }
    }
    .nav-link {
      font-size: 1.25rem;
    }
  }
  //subnav
  .subnav {
    height: 56px;
    background: $white;
    .nav-item {
      .nav-link {
        color: $gray-light;
      }
      &:nth-child(1) {
        .nav-link {
          padding-left: 0;
        }
      }
      &.active {
        .nav-link {
          color: $brand-primary;
        }
      }
    }
  }
}

.notification-profile-mobileNav {
  position: absolute;
  right: 0.25rem;
  top: 0.3125rem;
  @include clearfix;
  @include media-breakpoint-down(md) {
    top: -0.25rem;
    right: 1.5rem
  }

  .icon-dropdown {
    float: left;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
    &.mobileNav {
      @include media-breakpoint-up(md) {
        display: none;
      }
      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }

}


body.mobileMenuBackdrop {
  .modal-backdrop {
    background-color: rgba($white, 0);
  }
}

#mobileNav {
  padding-right: 0 !important;
  .modal-dialog {
    // width: calc(100% + 2px) !important;
    max-width: inherit !important;
    // margin: -1px 0 0 -1px !important;
    margin-top: 0;
    .modal-content {
      padding: 0;

      background: none;
      @include bs-none;

      @include br-none;
      button.close {
        top: 2px;
        right: 13px;
        background: none !important;
        transition: all .2s ease-in-out;
        @include br-none;

      }
      .container {
        .row {
          margin-left: 0;
          margin-right: 0;
          margin-top: 0.5rem  ;
          padding: 2.5rem 2.5rem 0 2.5rem;
          background: $white;
          width: 320px;
          margin-left: calc(100% - 320px);
          @include br-all;
          @include bs-spread;
        }
      }
      .mobilenav-column {
        width: 100%;
        padding-bottom: 1.5rem;
        a {
          font-size: 1rem;
          color: $gray;
          font-weight: $font-weight-medium;
          &:hover,
          &:focus {
            text-decoration: none;
            font-weight: $font-weight-bold !important;
            display: inline-block;
            color: $brand-primary;
          }

        }
        .first-level {
          display: flex;
          .first-level-icon {
            background: $brand-primary-bg;
            height: 40px;
            width: 40px;
            text-align: center;
            @include br-circle;
            i {
              color: $brand-primary;
              padding-top: 11px;
              font-size: 1rem;
            }
          }
          a {
            padding-left: 0.75rem;
            padding-top: 9px;
          }
          &.active {
            a {
              font-weight: $font-weight-bold !important;
              color: $brand-primary;
            }
            &:hover,
            &:focus {
              .first-level-icon {
                background: $brand-primary;
                i {
                  color: $white;
                }
              }
            }

          }
        }
        .second-level {
          padding-left: 3.25rem;
          a {
            line-height: 2.5rem;
            font-weight: $font-weight-normal;
          }
        }
      }
      a.login {
        margin-top: 1rem  ;
        width: calc(100% + 5rem);
        display: inline-block;
        color: $brand-primary;
        height: 48px;
        line-height: 2;
        margin-left: -2.5rem;
        margin-right: -2.5rem;
        background: $site-background;
        border-color: $site-background;
        @include br-bottom;
        &:hover,
        &:focus {
          background: $brand-primary;
          border-color: $brand-primary;
          color: $white;

        }

      }
    }
  }
}

.nav-hidden{
  //height of .mainnav-subnav
  top: -137px;
  @include media-breakpoint-down(md) {
    top: 0;
  }
}




// make it pretty //

@media (max-width: 992px) {
  .desktop-nav {
    display: none;
  }
  .mainnav-subnav .mainnav {
    height: auto;
  }
  .mainnav-subnav .subnav  {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .navbar-collapse.mobile-nav {
    display: none !important;
  }

}

///////////////////////
