a.btn {
  line-height: 1.5;
}

.btn {
  height: 40px;
  font-size: 0.875rem;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  font-family: $font-family-sans-serif;
  @include br-all;
  &:hover,
  &focus {
    cursor: pointer;
    @include bs-std-dark;
  }
}

.btn-primary {
  &:hover,
  &focus {
    background: $brand-primary-light;
    border-color: $brand-primary-light;
  }
}

.btn-secondary {
  color: $brand-primary;
  &:hover,
  &focus {
    background: $brand-primary;
    border-color: $brand-primary;
    color: $white;
  }
}

.btn-outline {
  border: 2px solid;
  background: $white;
  &.btn-danger {
    color: $brand-danger;
    border-color: $brand-danger;
    &:hover,
    &:focus {
      background: $brand-danger;
      border-color: $brand-danger;
      color: $white;
    }
  }
  &.btn-primary {
    color: $brand-primary;
    border-color: $brand-primary;
    &:hover,
    &:focus {
      background: $brand-primary;
      border-color: $brand-primary;
      color: $white;
    }
  }
}

.columns-container {
  .btn {
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
