.checkbox-img-label {
  border: 2px solid $border;
  padding: 1rem;
  transition: $hover-animation;
  &.no-img {
    .checkbox-label {
      padding-top: 0;
    }
  }
  @include br-all;
  &:hover,
  &:focus {
    border-color: $brand-primary;
    cursor: pointer;
    .label {
      color: $brand-primary;
      font-weight: $font-weight-bold;
    }
  }
  .img-container {
    height: 100px;
    img {
      max-height: 120px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      @include media-breakpoint-down(md) {
        padding-right: 2rem;
        padding-left: 2rem;
      }
    }
  }
  .checkbox-label {
    padding-top: 1rem;
    display: flex;
    .label {
      font-size: 0.875rem;
      line-height: 1.1;
      padding-left: 0.5rem;
    }
  }
}
