.close {
  opacity: 1.0;
  background: transparent;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: $zindex-fixed;
  transition: all 0.2s ease-in-out;
  @include br-circle;
  &:hover,
  &:focus {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1.0;
  }
}
