.dropdown-menu {
  font-size: 0.875rem;
  @include bs-spread;
}

.dropdown-item {
  &:focus,
  &:hover {
    color: $brand-primary;
    font-weight: $font-weight-medium;
    background-color: transparent;
  }
  i {
    margin-right: 0.5rem;
  }

}

.icon-dropdown {
  button {
    background-color: transparent;
    border-color: rgba($white, 0.5);
    border-width: 2px;
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    @include br-circle;
    &:hover {
      background-color: $brand-primary-light;
      border-color: $brand-primary-dark;
      cursor: pointer;
    }
    i {
      color: $white;;
    }
  }
  .dropdown-toggle:after {
    display: none;
  }
  &.show > .dropdown-toggle {
    background-color: $brand-primary-light;
    border-color: $brand-primary-dark;
  }
}
