.form-control {
  font-size: 0.875rem;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;
  height: 40px;
  &:focus {
    color: $gray;
    font-weight: $font-weight-medium;
  }
}



.form-group {
  margin-bottom: 17px;
  &.required {
    position: relative;
    &:before {
      content: '*';
      color: $brand-danger;
      width: 4px;
      height: 4px;
      position: absolute;
      top: 1.75rem;
      right: 9px;
      z-index: 10;
    }
  }
}

select {
  font-family: $font-family-sans-serif;
  font-size: 0.875rem;
}

label {
  font-size: 0.875rem;
  color: $gray-light;
  font-weight: $font-weight-medium;
  margin-bottom: 3px;
}

.form-control-feedback {
  font-size: 0.875rem;
  margin-top: 2px;
  padding-bottom: 0px;
  padding-left: 1.25rem;
  position: relative;
  text-transform: uppercase;
  &:before {
    content: "\f06a";
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: "FontAwesome";
  }
}

.form-required-infotext {
  font-size: 0.875rem;
  color: $brand-danger;
}


.tile {
  .form-required-infotext {
    position: absolute;
    top: 16px;
    right: 28px;
  }
}
