// set padding-y for fluid container
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

// no grid-gutter-widths
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > [class*="col-"],
  > .col {
    padding-right: 0;
    padding-left: 0;
  }
}

// grid-gutter-widths for inner boxes
.inner-gutters {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  @include media-breakpoint-down(md) {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }
  > [class*="col-"],
  > .col {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    @include media-breakpoint-down(md) {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      padding-bottom: 0.5rem;
    }
  }
  // remove double padding-bottom by setting negative value
  .row.inner-gutters {
    margin-bottom: -1rem;
    @include media-breakpoint-down(md){
      margin-bottom: -0.5rem;
    }
  }
}

.columns-container {
  display: flex;
  flex-wrap: wrap;
  & > div {
    flex: 0 1 auto;
  }
}
