.status {
  position: relative;
  &:before {
    width: 8px;
    height: 8px;
    content:'';
    position: absolute;
    left: -16px;
    top: 6px;
    border-radius: 50%;
  }
  &.active {
    color: $brand-success;
    &:before {
      background: $brand-success;
    }
  }
}
