.input-group-addon {
  background-color: $background;
  width: 40px;
  height: 40px;
}


.input-group {
  .input-group-addon {
    i {
      color: $gray-light;
    }
  }

  [class*=form] {
    width: 100%;
    select {
     height: 40px;
     width: 100%;
     @include br-right;
   }
  }
}
