.modal {
  button.close {
    position: absolute;
    top: 0;
    right: 0px;
  }
  .modal-dialog {
    @include media-breakpoint-up(sm) {
      min-width: 640px;
    }
    @include media-breakpoint-up(lg) {
      min-width: 980px;
    }

    .modal-content {
      padding: 2.5rem;
      @include bs-std-dark;
      @include br-all;
      .modal-header {
        padding-bottom: 1.5rem;
      }
      .modal-footer {
        padding-top: 1rem;
      }
    }
  }
}

.modal-footer {
  justify-content: flex-start; 
}
