ul.pagination {
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0;
  @include media-breakpoint-down(md) {
    margin-top: 0.5rem;
  }
  li {
    font-size: 0.875rem;
    height: 40px;
    min-width: 42px;
    text-align: center;
    a {
      &:first-child {
        .fa {
          margin-right: 0.25rem;
        }
      }
      &:last-child {
        .fa {
          margin-left: 0.25rem;
        }
      }
    }
    &.active {
      font-weight: $font-weight-medium;
      &:hover a {
        background-color: $brand-primary-light;
        border-color: $brand-primary-light;
      }
    }
  }
}
