.section-header {
  margin-top: 136px; // height of main- & subnav
  margin-bottom: -136px;
  background: $white;
  padding: $inner-spacing 0;
  border-bottom: 1px solid $border;
  position: relative;
  z-index: 1;
  @include media-breakpoint-down(md) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .header-icon-headline {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    display: flex;
    @include media-breakpoint-down(md) {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    .header-icon {
      width: 56px;
      height: 56px;
      margin-right: 12px;
      text-align: center;
      background: rgba($brand-primary,0.1);
      margin-top: -5px;
      padding-left: 1px;
      @include br-circle;
      @include media-breakpoint-down(md) {
        width: 40px;
        height: 40px;
        margin-top: -3px;
      }
      i {
        color: $brand-primary;
        font-size: 1.25rem;
        line-height: 55px;
        @include media-breakpoint-down(md) {
          line-height: 39px;
        }
      }
    }
    .headline {
      h1 {
        @include media-breakpoint-down(md) {
          font-size: 1rem;
        }
      }
    }
  }
  .h2 {
    color: $gray-lighter;
    font-weight: $font-weight-medium;
    @include media-breakpoint-down(md) {
      font-size: 0.875rem;
    }
  }
  .btn {
    position: absolute;
    top: 3px;
    right: 14px;
  }
  @include media-breakpoint-down(md) {
    margin-top: 63px;
    margin-bottom: -63px;
  }
}
