.steps-container {
  padding-top: 1.5rem;
  display: block;
  @include clearfix;
  @include media-breakpoint-down(md) {
    display: flex;
    padding-top: 0;
    // calculation for first & last element to be set at the left-/right-side
    width: calc(100% + 140px);
    margin-left: -70px;
  }
  .step {
    font-size: 1rem;
    line-height: 30px;
    position: relative;
    width: 100%;
    height: 48px;
    @include media-breakpoint-down(md) {
      text-align: center;
      height: auto;
    }
    &.done {
      .step-number,
      .step-label {
        color: $brand-success;
      }
    }
    &.active {
      .step-number {
        color: $white;
        background: $gray;
        border-color: $gray;
      }
      .step-label {
        color: $gray;
        font-weight: $font-weight-bold;
      }
    }
    &:last-child {
      height: 32px;
      &:after {
        display: none;
      }
    }
    &:after {
      content: '';
      width: 2px;
      height: 1rem;
      position: absolute;
      top: 32px;
      left: 15px;
      background: $border;
      z-index: 1;
      @include media-breakpoint-down(md) {
        width: 100%;
        left: 50%;
        top: 16px;
        height: 2px;
      }
    }
    .step-number {
      float: left;
      width: 32px;
      height: 32px;
      font-size: 0.875rem;
      border: 2px solid $border;
      text-align: center;
      color: $gray-lighter;
      font-weight: $font-weight-bold;
      background: $white;
      position: relative;
      z-index: 2;
      @include br-circle;
      @include media-breakpoint-down(md) {
        float: none;
        margin: 0 auto;
      }
    }
    .step-label {
      float: left;
      height: 32px;
      padding-top: 9px;
      line-height: 1;
      margin-left: 0.5rem;
      text-transform: uppercase;
      color: $gray-lighter;
      width: calc(100% - 40px);
      @include media-breakpoint-down(md) {
        float: none;
        width: 100%;
        margin-left: 0;
        display: none;
      }
    }
  }
}
