.table-area {
  border: 1px solid $border;
  @include br-all;
}


table.table {
  margin-bottom: 0;
  th, td {
    // padding: 0.65rem;
  }
  thead {
    font-size: 0.875rem;
    background-color: $site-background;
    th {
      border-top: 0;
      border-bottom: 1px solid $border;
      font-weight: $font-weight-medium;
    }
  }
  tbody tr {
    font-size: 0.875rem;
    font-weight: $font-weight-normal;
    th {
      p.inner-cell-row {
        margin-bottom: 0.25rem;
      }
    }
  }
  &.has-view {
    td[data-toggle="modal"],
    input[type="checkbox"] {
      cursor: pointer;
    }
  }
}

table.table-hover {
  tbody tr {
    &:hover {
      color: $brand-primary;
    }
  }
}
