.h1, .h2, .h3,
h1, h2, h3{
  text-transform: uppercase;
  &.section {
    margin-bottom: 1.5rem;
  }
  &.medium {
    font-weight: $font-weight-medium;
  }
  &.passive {
    color: $gray-light;
  }
}

.h3, h3 {
  font-weight: $font-weight-medium;
}


p {
  font-size: 0.875rem;
  line-height: 1.6;
  font-weight: $font-weight-normal;
}
